@media (min-width: 768px) {
  .thumb-container {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }
  
  .thumb-container:hover {
    cursor: pointer;
    z-index: 100;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  
}
.thumb-date {
  float: right;
  margin-top: .5rem;
}