header {
  background-color: aqua;
}

footer {
  background-color: burlywood;
}

aside {
  background-color: cornflowerblue;
}

nav {
  background-color: darkgrey;
}

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}

header,
footer {
  text-align: center;
}

.header {
  font-size: 46px;
  height: 50px;
}

.footer {
  font-size: 10px;
}

.content {
  font-size: 14px;
  margin-left: 400px;
  margin-right: 400px;
}

.navigation {
  font-size: 12px;
  position: absolute;
  width: 400px;
}

.sidebar {
  font-size: 10px;
  position: absolute;
  right: 0;
  top: 50px;
  width: 400px;
}

*[class$='r'] {
  background-color: magenta;
}

*[class*='a']:not(*[class$='r']) {
  background-color: blue;
}

.oh-no-inline-styles {
  background-color: green !important;
}
