@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Mukta');


/*  Reset Stylesheet
    http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of HTML5 display-role reset for older browsers */

html,
body {
    height: 100%;
    font-family: 'Mukta', sans-serif;

}
.navbots {
    display: none;
}
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    font-family: FontAwesome;
}

.icon:hover {
    color: #5FB404;
}

.icon > .label {
    display: none;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}


/* Header **********************************************************************************/

.header {

    height: 25vh;
    text-align: center;
    background: black;
    color: white;

}

.header hgroup {
    padding: 3em 0 2em 0;
    margin-right: 15vw;
    font-weight: 700;

}

.header hgroup h1 {
    font-size: 2.4em;
    text-transform: uppercase;
}

.header hgroup h3 {
    font-size: 1.7em;
}

.logo img {
    width: 10em;
    float: left;
    margin: 3em 1em 1em 1em;
}

/* Footer **********************************************************************************/

.footer {
    font-size: 1em;
    font-weight: 600;
    background: gray;
    color: white;


    clear: both;
    text-align: center;
    height: 10vh;

}

.footer .copyright {
    padding: 2em 0 0 0;
    text-shadow: 1px 1px #000;
}

/* Content **********************************************************************************/

.content {
    font-size: 1em;
    font-weight: 500;
    float: inherit;
    background: white;
    color: #333333;
    width: 40%;
    display: inline-block;
    height: 65vh;

}

.content article {
    font-size: 1.2em;
    padding: 1em 3em 2em 2em;
}

.content h3 {
    font-size: 1.1em;
    text-decoration: underline;
    padding: 1em 3em 1em 2em;

}

.content h2 {
    font-size: 2em;
    text-decoration: underline;
    padding: 1em 0 0 1em;
}

.content ul {
    padding: 0 0 0 3em;
}

.content .icon {
    padding: 0 1em 0 0;
}

.content .footer {
    background: none;
    color: black;
    height: auto;
}

.content .footer div {
    padding: 1em 0 1em 0;

}

/* Navigation **********************************************************************************/

.navigation {
    display: inline-block;
    width: 20%;
    font-weight: 600;
    font-size: 1.4rem;

}

.navigation ul {
    padding: 2em 1em 1em 1em;
}

.navigation ul li {
    padding: 0.5em 0 0 0;
}

.navigation ul li a {
    color: #5FB404;

}

.navigation ul li ul {
    padding: 0 0 0 1em;
}

.navigation ul li a i {
    padding: 1em;
}

.navigation ul li .active {
    display: none;
}

.navigation ul li a:hover {
    color: #333333;
}

/* Sidebar  **********************************************************************************/

.sidebar {
    display: inline-block;
    background: #C5E703;
    float: right;
    width: 30%;
    height: 65vh;

}

.sidebar .content {
    width: 100%;
    background: #C5E703;
    font-size: 1.2em;
    margin: 1em 0 2em 1em;
    float: right;
    height: auto;

}

.sidebar p {
    margin: 0.5em 1em 1em 1em;
}

.sidebar footer {
    padding: 0.5em 0 0.5em 0;
    text-align: center;
    float: none;
    clear: both;
}

.sidebar h5 {
    font-size: 1.6em;
}

.sidebar h5 {
    padding: 1em 1em 0em 2em;
}

.sidebar img {
    padding: 1em 2em 1em 1em;
    height: calc(60vw - 50vw);
    display: inline;
    float: left;
}
.sidebar .icon {
    color: black;
}






/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

    .navigation {
        width: 20%;
        font-size: 1em;
        display: inline-block;
        float: left;

    }
    .content {
        width: 50%;
        height: 65vh;
        display: inline-block;
        float: left;
        font-size: 0.82rem;

    }
    .sidebar {
        display: inline-block;
        float: right;
        width: 30%;
    }

    .sidebar .content {
        font-size: 0.9em;
    }
    .sidebar p {
        padding: 1.1em 1.5em 0.8em 0;
    }
    .sidebar footer {
        padding: 0.5em 0 0.5em 0;

    }
    .sidebar h5 {
        font-size: 1.1em;
    }
    .sidebar h5 {
        padding: 0.8em 0.8em 0em 1.4em;
    }
    .sidebar img {
        padding: 0.8em 1.5em 0.8em 0.8em;
    }
}


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {

    .header hgroup h1 {
        font-size: 1.8em;        
    }
    
    .header hgroup h3 {
        font-size: 1.2em;
        }
    .navigation {
        width: 20%;
        font-size: 1.1em;
        display: inline-block;
        float: left;

    }

    .navigation ul {
        padding: 2em 0.5em 0.5em 0.5em;
    }
    .navigation ul li ul li {
        font-size: 0.8em;
    }
    .content {
        width: 80%;
        display: inline-block;
        float: right;
        font-size: 0.9rem;
        height: 65vh;

    }
    .content article {
        font-size: 1.2em;
        padding: 1em 2em 1em 2em;
    }
    .content h3 {
        font-size: 1.1em;
        text-decoration: underline;
        padding: 0.8em 2em 0.8em 1em;

    }
    .content h2 {
        font-size: 2em;
        text-decoration: underline;
        padding: 0.8em 0 0 0.8em;
    }
    .content ul {
        padding: 0 0 0 3em;
    }
    .content .icon {
        padding: 0 0.5em 0 0;
    }
    .content .footer div {
        padding: 0.5em 0 0.5em 0;

    }
    .sidebar {
        display: none;
        width: 0%;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

   
    
    .logo img {
        width: 10em;
        float: left;
        margin: 3em 1em 1em 1em;
    }

    .navigation {
        width: 20%;
        font-size: 1.25em;
        display: initial;
        float: left;

    }
    .content {
        width: 50%;
        height: 65vh;
        display: initial;
        float: left;
        font-size: 0.9rem;

    }
    .sidebar {
        display: initial;
        float: right;
        width: 30%;
    }

    .sidebar .content {
        font-size: 1.1em;
    }
    .sidebar p {
        padding: 1.1em 1.5em 0.8em 0;
    }
    .sidebar footer {
        padding: 0.5em 0 0.5em 0;

    }
    .sidebar h5 {
        font-size: 1.1em;
    }
    .sidebar h5 {
        padding: 0.8em 0.8em 0em 1.4em;
    }
    .sidebar img {
        padding: 0.8em 1.5em 0.8em 0.8em;
    }

}

/* Form ***********************************************************/
/* Form */

form {
    margin: 0 0 1.25em 0;
}
label {
    color: #777;
    display: block;
    font-size: 0.7em;
    margin: 0 0 1.125em 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 5px;
    border: none;
    border: solid 2px #e4e4e4;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

    input[type="text"]:invalid,
    input[type="password"]:invalid,
    input[type="email"]:invalid,
    select:invalid,
    textarea:invalid {
        box-shadow: none;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    select:focus,
    textarea:focus {
        border-color: #db6a60;
    }

.select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}

    .select-wrapper:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }

    .select-wrapper:before {
        color: #e4e4e4;
        content: '\f078';
        display: block;
        height: 2.75em;
        line-height: 2.75em;
        pointer-events: none;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 2.75em;
    }

    .select-wrapper select::-ms-expand {
        display: none;
    }

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 2.75em;
}

textarea {
    padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

    input[type="checkbox"] + label,
    input[type="radio"] + label {
        text-decoration: none;
        color: #888;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-weight: 400;
        padding-left: 2.4em;
        padding-right: 0.75em;
        position: relative;
    }

        input[type="checkbox"] + label:before,
        input[type="radio"] + label:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        input[type="checkbox"] + label:before,
        input[type="radio"] + label:before {
            background: #fafafa;
            border-radius: 5px;
            border: solid 2px #e4e4e4;
            content: '';
            display: inline-block;
            height: 1.65em;
            left: 0;
            line-height: 1.58125em;
            position: absolute;
            text-align: center;
            top: 0;
            width: 1.65em;
        }

    input[type="checkbox"]:checked + label:before,
    input[type="radio"]:checked + label:before {
        background: #989898;
        border-color: #989898;
        color: #ffffff;
        content: '\f00c';
    }

    input[type="checkbox"]:focus + label:before,
    input[type="radio"]:focus + label:before {
        border-color: #db6a60;
    }

input[type="checkbox"] + label:before {
    border-radius: 5px;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    color: #aaa !important;
    font-style: italic;
    opacity: 1.0;
}

:-moz-placeholder {
    color: #aaa !important;
    font-style: italic;
    opacity: 1.0;
}

::-moz-placeholder {
    color: #aaa !important;
    font-style: italic;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: #aaa !important;
    font-style: italic;
    opacity: 1.0;
}

.formerize-placeholder {
    color: #aaa !important;
    font-style: italic;
    opacity: 1.0;
}
/* Button *******************************************************************/
input[type="submit"],
input[type="reset"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #989898;
    border-radius: 5px;
    border: 0;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    .button:hover {
        background-color: #a5a5a5;
        color: #ffffff !important;
    }

    input[type="submit"]:active,
    input[type="reset"]:active,
    .button:active {
        background-color: #8b8b8b;
    }

    input[type="submit"].icon,
    input[type="reset"].icon,
    .button.icon {
        padding-left: 1.35em;
    }

        input[type="submit"].icon:before,
        input[type="reset"].icon:before,
        .button.icon:before {
            margin-right: 0.5em;
        }

    input[type="submit"].fit,
    input[type="reset"].fit,
    .button.fit {
        display: block;
        margin: 0 0 1.125em 0;
        width: 100%;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    .button.small {
        font-size: 0.8em;
    }

    input[type="submit"].big,
    input[type="reset"].big,
    .button.big {
        font-size: 1.35em;
    }

    input[type="submit"].alt,
    input[type="reset"].alt,
    .button.alt {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px #e4e4e4;
        color: #777 !important;
    }

        input[type="submit"].alt:hover,
        input[type="reset"].alt:hover,
        .button.alt:hover {
            background-color: #f4f4f4;
            color: #777 !important;
        }

        input[type="submit"].alt:active,
        input[type="reset"].alt:active,
        .button.alt:active {
            background-color: #eaeaea;
        }

        input[type="submit"].alt.icon:before,
        input[type="reset"].alt.icon:before,
        .button.alt.icon:before {
            color: #aaa;
        }

    input[type="submit"].special,
    input[type="reset"].special,
    .button.special {
        background-color: #db6a60;
        color: #ffffff !important;
    }

        input[type="submit"].special:hover,
        input[type="reset"].special:hover,
        .button.special:hover {
            background-color: #E07D75;
        }

        input[type="submit"].special:active,
        input[type="reset"].special:active,
        .button.special:active {
            background-color: #D6574B;
        }

    input[type="submit"].disabled, input[type="submit"]:disabled,
    input[type="reset"].disabled,
    input[type="reset"]:disabled,
    .button.disabled,
    .button:disabled {
        background-color: #888 !important;
        box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
        color: #fff !important;
        cursor: default;
        opacity: 0.25;
    }



/* Small devices (landscape phones, 576px and up)*/


@media (max-width: 674px) {
    .navbots {
        display: block;
    }
    .navigation {
        width: 0%;
        display: none;
    }
    .content {
        width: 100%
    }
    .logo img {
        
        float: none;    
        width: 12em;
        margin: 1em 1em 0em 1em;
        
    }
    .header {
        height: 28vh;

    }
    
    .header hgroup {
        padding: 1rem 0rem 0.5rem 0rem;
        font-weight: 700;
        margin-right: 0;
    }    
    .header hgroup h1 {
        font-size: 1.6em;
        text-transform: uppercase;

    }    
    .header hgroup h3 {
        font-size: 1.1em;
    }
    


}
