body{
     background-color: #000000;
     font-family:Tahoma;
     font-size:14px;
}
 .header{
     font-size:46px;
     width: 98%;
     height: 100px;
     text-align: center;
     float: left;
     margin:5px;
     border-radius:10px;
}
 .footer{
     font-size:10px;
     width: 98%;
     height: 100px;
     text-align: center;
     float:left;
     margin: 6px;
     border-radius:10px;
}
 .content{
     font-size:14px;
     background-color: #898383;
     width: 50%;
     height: 100%;
     float:left;
     text-align: center;
     border-radius:10px;
}
 .navigation{
     font-size:12px;
     background-color: #2E2EFE;
     width: 23%;
     float:left;
     text-align: center;
     height:250px;
     border-radius:10px;
}
 .sidebar{
     background-color: #2E2EFE;
     font-size:10px;
     width: 25%;
     height:250px;
     float:left;
     position: relative;
     overflow: hidden;
     text-align: center;
     border-radius:10px;
}
 .footer, .header{
     background-color: #FF00FF;
}
