<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggle">
    <a class="navbar-brand" href="#"><i class="fas fa-space-shuttle mr-2"></i>The Red Planet Rovers</a>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active m-1">
        <a class="nav-link btn btn-lg btn-danger" routerLink="view-photo/random">Image of the day</a>
      </li>
      <li class="nav-item active m-1">
        <a class="nav-link btn btn-lg btn-danger" routerLink="gallery">Image gallery</a>
      </li>
    </ul>
  </div>
</nav>