.image-detail{
   display: flex;
   flex-direction: column;
}

img.camera-img.img-fluid {
   width: 50%;   
   padding-top: 0.5rem;
   align-self: center;
}

p.no-photo{
   color: #ff0000;
}

p.rover-name, p.camera-name, p.photo-date{
   align-self: center;
   padding: 0rem;
   margin: 0rem;
}