<div *ngIf="error">
  <div class="alert alert-danger text-center mt-3" role="alert">
    {{ error}}
  </div>
</div>

<div class="mt-3">
  <h1 class="rover-name">{{ rover.name }} <small class="cameraFullName text-muted" *ngIf="cameraFullName">{{
      cameraFullName }}</small></h1>
  <div class="btn-group camerasButton">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span *ngIf="cameraShortName">{{ cameraShortName }}</span>
    </button>
    <div class="dropdown-menu">
      <button class="dropdown-item" type="button" *ngFor="let camera of rover.cameras" (click)="getPhotos(rover.name, camera.name)">{{
        camera.name }}</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8" *ngIf="!photosProviden">
    <h3 class="no-photos">No photos providen.</h3>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 my-3" *ngFor="let photo of photos">
    <div class="card">
      <a routerLink="/detail/photo/{{rover.name}}/{{photo.camera.name}}/{{photo.id}}" (click)="sendPhoto(photo)"><img
          class="card-img-top" src="{{ photo.img_src }}" alt="{{ rover.name }} photo"></a>
      <div class="card-body">
        <p class="card-text text-center">{{ photo.earth_date | date: 'longDate' }}</p>
      </div>
    </div>
  </div>
</div>
