html {
  font-family: 14px;
}
.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: magenta;
  padding: 10px;
}

h1 {
  font-size: medium;
  margin: 0;
  text-align: center;
}

.main-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

ul li a {
  white-space: nowrap
}

.navigation {
  flex-grow: 1;
  flex-direction: column;
  padding: 10px;
  background: yellowgreen;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 10px;
  background: #fff;
}

.content > header {
  background-color: cornsilk;
  text-align: center;
  font-style: normal;
  font-size: medium;
}

.content > article {
  font-size: small;
  padding: 4px;
  background-color: darkgray;
}

.content > footer {
  font-style: italic;
  font-size: medium;
  background-color: darkkhaki;
  text-align: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  background: seashell;
}

.footer {
  background: magenta;
  padding: 10px;
}

@media screen and (min-width: 640px) {
  #navigation-menu {   
    display: flex;
    
  }
  #menu-btn {
    display: none;
  }

  .main-column {   
    flex-direction: row;
  }
}
